<div id="container">
<div id="header">		
	<h1>Hi <%= @user.name %></h1>
	<%= link_to 'Log Out', session_path("user_id"), :method => :delete %>
	<a href="<%=user_path(@user.id)%>">Go to dashboard</a>
</div>


<table class='table'>
	<tr>
		<th>Product </th>
		<th>Seller </th>
		<th>Date Posted</th>
		<th>Amount</th>
		<th>Action</th>
	</tr>

	<% if @products%>
		<% @products.each do |product|%>
		<tr>
			<td><%= product.name %></td>
			<td><%= product.user.name%></td>
			<td><%= product.created_at.strftime('%B %d, %Y')   %></td>
			<td><%= product.amount %></td>
			<% if product.user.id != session[:user_id]%>
				<td><%= link_to 'Buy', transactions_path(:seller => product.user.id , :product => product.id), method: :post %></td>
				<%else%>
				<td></td>
			<%end%>
		<% end %>
	<% end %>

	</div>